[submodule "config/demo"]
	path = config/demo
	url = git@github.com:mrc-ide/wodin-demo-config
[submodule "config/msc-idm-2022"]
	path = config/msc-idm-2022
	url = git@github.com:mrc-ide/wodin-msc-idm-2022
